<div class="section" style="height:100%"> 
    <div class="row">
        <!-- <router-outlet ></router-outlet> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="container-fluid main-body" style="width:100%">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 div-border" style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2 col-xl-2 nav-vertical" style="padding-top:15px;background-color: #fff;padding-bottom:15px">
                            <nav class=" navbar navbar-expand-lg navbar-light nav nav-pills flex-column " style="height: 100%;">
                                <a class="nav-link active link-width mb-1" href="javascript:void(0)" [routerLink]="['./companyList']" routerLinkActive="router-link-active">Company</a>
                                <a class="nav-link link-width mb-1" href="javascript:void(0)" [routerLink]="['./assestList']" routerLinkActive="router-link-active" >Asset</a>
                                <a class="nav-link link-width" href="javascript:void(0)">Billing</a>
                            </nav>
                        </div>
                    <!-- </div>
                    <div class="row"> -->
                        <div class="card col-sm-12 col-xs-12 col-md-9 col-lg-10 col-xl-10" >
                            <div class="card-body" style="overflow:auto">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>