.div-border{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.nav-link.active{
    /* background-color: gray;
    color: white */
    background-color: #23A8B9;
    color: white
}

.nav-link{
    color: black
}

.navbar{
    background-color: #a7dce3;
}

.navbar-height{
    height: 100%;
}

.link-width{
    width: 100%;
}