<form [formGroup]='contactForm' autocomplete="off">
<div class="modal-header">
  
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">       

            <div class="row">
                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row mb-2 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-check-label">First Name</label><label style="color: red">*</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <input class="form-control" placeholder="First Name" formControlName="firstName">
                            </div>
                        </div>
                        <div class="row mb-2 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-check-label">Last Name</label><label style="color: red">*</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <input class="form-control" placeholder="Last Name" formControlName="lastName">
                            </div>
                        </div>                       
                        <div class="row mb-2 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-check-label">Email Address</label><label style="color: red">*</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <input class="form-control" placeholder="Email Address" formControlName="emailAddress">
                            </div>
                        </div>
                        <div class="row mb-2 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-check-label">Primary Contact</label><label style="color: red">*</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <input type="checkbox" class="form-control" formControlName="primaryContact">
                            </div>
                        </div>
                        <div class="row mb-2 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-check-label">Organization</label><label style="color: red">*</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                               {{parentcomapny}}
                            </div>
                        </div>
                       
                        <div class="row mb-2 form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label class="form-check-label">Location</label><label style="color: red">*</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <select class="form-control" formControlName="location">
                                    <option value="">Please select Location</option>
                                    <option *ngFor="let item of locationarr" value="{{item.locationName}}">
                                        {{item.locationName}}
                                      </option>
                                </select>
                            </div>
                        </div>
                    </div>

                   
                <!-- </div> -->
            </div>            
            
        </div>
    </div>
</div>
<div class="modal-footer">    
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <button type="button" class="btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                    Close
                </button>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <button  [disabled]="!contactForm.valid" (click)="save()" type="submit" class="btn btn-secondary float-right">Save</button>
            </div>
        </div>
    </div>
</div>
</form>
