<div class="container-fluid" style="height: 40vw;">
    <!-- signup -->

    <div class="card m-auto col-md-5 col-lg-5 col-sm-12 col-xs-12  col-xl-5" style="top:35%">
        <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <br><br>

            <!-- <div></div> -->
            <div class="row">

                <form class="col-md-12 col-lg-12 col-sm-12 col-xs-12  col-xl-12 m-auto">
                    <div class="row form-group">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <label class="form-check-label">UserName</label>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <input type="text" class="form-control" aria-placeholder="UserName">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <label class="form-check-label">Name</label>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <input type="text" class="form-control" aria-placeholder="Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <label class="form-check-label">Address</label>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <input type="text" class="form-control" aria-placeholder="Address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <label class="form-check-label">Mobile Number</label>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-xl-6">
                            <input type="text" class="form-control" aria-placeholder="MobileNo">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="submit"
                                class="col-lg-3 col-md-5 col-sm-12 col-xs-12 col-xl-3 btn btn-success float-right">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>