<div class="container-fluid main-body">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 div-border" style="margin-top: 5px;">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2 col-xl-2 nav-vertical">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">Device</a>
                    <a class="nav-link" href="#">Device Type</a>
                    <a class="nav-link" href="#">Device Analyzer</a>
                </nav>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-9 col-lg-10 col-xl-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>